<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:p="http://www.springframework.org/schema/p"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:jee="http://www.springframework.org/schema/jee"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">


    <!-- redis 线程池配置 -->
    <!--<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="minIdle" value="${redis.poolConfig.minIdle}"/>
        <property name="maxIdle" value="${redis.poolConfig.maxIdle}"/>
        <property name="maxTotal" value="${redis.poolConfig.maxTotal}"/>
        <property name="maxWaitMillis" value="${redis.poolConfig.maxWaitMillis}"/>
        <property name="testOnReturn" value="${redis.poolConfig.testOnReturn}"/>
        <property name="testWhileIdle" value="${redis.poolConfig.testWhileIdle}"/>
        <property name="testOnBorrow" value="${redis.poolConfig.testOnBorrow}"/>
    </bean>

    &lt;!&ndash; redis 连接工厂 &ndash;&gt;
    <bean id="connectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory" >
        <property name="poolConfig" ref="jedisPoolConfig"/>

        <property name="convertPipelineAndTxResults" value="${redis.convertPipelineAndTxResults}"/>
        <property name="database" value="${redis.database}"/>
        <property name="hostName" value="${redis.hostName}"/>
        <property name="password" value="${redis.password}"/>
        <property name="port" value="${redis.port}"/>
        <property name="timeout" value="${redis.timeout}"/>
        <property name="usePool" value="${redis.usePool}"/>
        &lt;!&ndash;<property name="shardInfo" value="${redis.shardInfo}"/>&ndash;&gt;
    </bean>

    &lt;!&ndash; redis 模板 &ndash;&gt;
    <bean id="redisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate">
        <property name="connectionFactory" ref="connectionFactory" />
        <property name="keySerializer">
            <bean class="org.springframework.data.redis.serializer.StringRedisSerializer"/>
        </property>
        <property name="valueSerializer">
            <bean class="org.springframework.data.redis.serializer.JdkSerializationRedisSerializer"/>
            &lt;!&ndash;<bean class="org.springframework.data.redis.serializer.StringRedisSerializer"/>&ndash;&gt;
            &lt;!&ndash;<bean class="org.springframework.data.redis.serializer.JacksonJsonRedisSerializer"/>&ndash;&gt;
            &lt;!&ndash;<bean class="org.springframework.data.redis.serializer.Jackson2JsonRedisSerializer"/>&ndash;&gt;
        </property>


        <property name="hashKeySerializer">
            <bean class="org.springframework.data.redis.serializer.StringRedisSerializer"/>
        </property>
        <property name="hashValueSerializer">
            <bean class="org.springframework.data.redis.serializer.JdkSerializationRedisSerializer"/>
        </property>
    </bean>


    &lt;!&ndash; redis 组件初始化 &ndash;&gt;
    <bean class="com.guiguzi.redis.config.Initialization" autowire="byType">
        <property name="redisTemplate" ref="redisTemplate"/>
    </bean>-->

</beans>