<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
<!-- 以下配置将拦截特有的URL请求-->
<!--<mvc:interceptors>
    &lt;!&ndash;<mvc:interceptor>
        <mvc:mapping path="/site/**"/>
        &lt;!&ndash;请求加密校验&ndash;&gt;
        <bean class="com.guiguzi.site.interceptor.UrlEncryptValidateInterceptor">
            <property name="secret" value="999a7a5593324cdb889d9d679d1c5745"/>
            <property name="digestKey" value="digest"/>
            <property name="joinFieldNames" value="deviceId,appKey,version,timestamp,nonce"/>
        </bean>
    </mvc:interceptor>&ndash;&gt;

    <mvc:interceptor>
        <mvc:mapping path="/site/**"/>
        &lt;!&ndash; 用户登录校验 &ndash;&gt;
        <bean class="com.guiguzi.site.interceptor.LoginValidateInterceptor">
            <property name="excludeUris" value="login.do"/>
        </bean>
    </mvc:interceptor>
</mvc:interceptors>-->
</beans>